---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

import bookImg from "@/assets/books/fp-in-scala-manning.png";
import bookImg2 from "@/assets/books/snow-crash-stephenson.jpg";
import bookImg3 from "@/assets/books/plai-krishnamurthi.jpeg";
import bookImg4 from "@/assets/books/crime-and-punishment-dostoevsky.webp";
import bookImg5 from "@/assets/books/you-are-not-so-smart-mcraney.jpeg";
import beach from "@/assets/art/beach.png";
import maharaj from "@/assets/maharaj.png";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const experiences: Array<{ title: string; desc: string; org: string; href: string }> = [
	{
		title: "Site Reliability Engineering Intern",
		org: "Visier",
		desc: "Winter 2024",
		href: "https://astro.build",
	},
	{
		title: "Software Engineering Intern",
		org: "Vidyard",
		desc: "Winter 2023",
		href: "https://docs.astro.build/en/guides/assets/",
	},
];

const projects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Backtrack",
		desc: "A generalized search library for node.js",
		href: "https://github.com/kumarpit/backtrack",
	},
	{
		title: "Star-Crossed",
		desc: "A 2D top-down bullet hell (and dating sim?) in Unity",
		href: "https://github.com/studi6/star-crossed",
	},
	{
		title: "Basis",
		desc: "A linear algebra library for C",
		href: "https://github.com/kumarpit/basis",
	},
];

const books: Array<{ name: string; author: string; img: ImageMetadata }> = [
	{
		name: "Functional Programming in Scala",
		author: "Manning",
		img: bookImg,
	},
	{
		name: "Snow Crash",
		author: "Neal Stephenson",
		img: bookImg2,
	},
	{
		name: "Programming Languages: Application and Interpretation",
		author: "Shriram Krishnamurthi",
		img: bookImg3,
	},
	{
		name: "Crime and Punishment",
		author: "Fyodor Dostoevsky",
		img: bookImg4,
	},
	{
		name: "You are not so smart",
		author: "David McRaney",
		img: bookImg5,
	},
];

const courses: Array<{ name: string; title: string; coursePage: string }> = [
	{
		name: "CPSC110",
		title: "Computation, Programs, and Programming",
		coursePage: "#",
	},
	{
		name: "ECON101",
		title: "Microeconomics",
		coursePage: "#",
	},
	{
		name: "EOSC114",
		title: "The Catastrophic Earth: Natural Disasters",
		coursePage: "#",
	},
	{
		name: "MATH100",
		title: "Calculus I",
		coursePage: "#",
	},
	{
		name: "WRDS150A",
		title: "Writing and Research in the Disciplines",
		coursePage: "#",
	},
	{
		name: "CPSC121",
		title: "Models of Computation",
		coursePage: "#",
	},
	{
		name: "ECON102",
		title: "Macroeconomics",
		coursePage: "#",
	},
	{
		name: "MATH101",
		title: "Calculus II",
		coursePage: "#",
	},
	{
		name: "VISA110",
		title: "Foundation Studio: Digital Media",
		coursePage: "#",
	},
	{
		name: "PSYC101",
		title: "Introduction to Biological and Cognitive Psychology",
		coursePage: "#",
	},
	{
		name: "CPSC221",
		title: "Introductory Data Structures and Algorithms",
		coursePage: "#",
	},
	{
		name: "MATH221",
		title: "Linear Algebra",
		coursePage: "#",
	},
	{
		name: "CPSC213",
		title: "Introduction to Computer Systems",
		coursePage: "#",
	},
	{
		name: "STAT200",
		title: "Elementary Statistics for Applications",
		coursePage: "#",
	},
	{
		name: "PHIL220A",
		title: "Symbolic Logic",
		coursePage: "#",
	},
	{
		name: "LING100",
		title: "Introduction to Language and Linguistics",
		coursePage: "#",
	},
	{
		name: "CPSC210",
		title: "Software Construction",
		coursePage: "#",
	},
	{
		name: "MATH200",
		title: "Calculus III",
		coursePage: "#",
	},
	{
		name: "MATH220",
		title: "Mathematical Proof",
		coursePage: "#",
	},
	{
		name: "MATH215",
		title: "Elementary Differential Equations I",
		coursePage: "#",
	},
	{
		name: "CPSC314",
		title: "Computer Graphics",
		coursePage: "#",
	},
	{
		name: "CPSC313",
		title: "Computer Hardware and Operating Systems",
		coursePage: "#",
	},
	{
		name: "MATH340",
		title: "Linear Programming",
		coursePage: "#",
	},
	{
		name: "MATH307",
		title: "Applied Linear Algebra",
		coursePage: "#",
	},
	{
		name: "MATH302",
		title: "Introduction to Probability",
		coursePage: "#",
	},
	{
		name: "CPSC310",
		title: "Introduction to Software Engineering",
		coursePage: "#",
	},
	{
		name: "CSPC311",
		title: "Definition of Programming Languages",
		coursePage: "#",
	},
	{
		name: "CPSC317",
		title: "Computer Networking",
		coursePage: "#",
	},
	{
		name: "CSPC320",
		title: "Intermediate Algorithm Design and Analysis",
		coursePage: "#",
	},
	{
		name: "MATH342",
		title: "Algebra and Coding Theory",
		coursePage: "#",
	},
	{
		name: "MATH319",
		title: "Real Analysis",
		coursePage: "#",
	},
	{
		name: "MATH316",
		title: "Elementary Differential Equations II",
		coursePage: "#",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section id="first">
		<!-- <div class="h-30 mb-5 overflow-hidden">
			<ul class="animate-text-slide">
				<li><h1 class="title mb-7 text-4xl">नमस्ते</h1></li>
				<li><h1 class="title mb-7 text-4xl">Hello</h1></li>
			</ul>
		</div> -->

		<h1 class="title mb-7 mt-5 text-4xl">नमस्ते</h1>

		<p class="mb-4">
			I'm Arpit. I am a computer science and mathematics student at the <a
				href="https://www.ubc.ca/"
				class="external-link">University of British Columbia</a
			>. Here I write about my explorations in topics that interest me - usually pertaining to
			computer science and mathematics. A lot on this site is still under construction.
			<br />
			<br />
			 I'm interested in learning about system design, language-oriented programming and graphics.
			In my free time, I'm exploring game development in Unity at <a
				href="https://www.ubcgamedev.com"
				class="external-link">UBC GameDev</a
			> and contributing to
			<a href="https://ubcbionics.com" class="external-link">UBC Bionics</a> as an embedded software
			developer.
		</p>
		<br />
		<p class="mb-4">
			Find me on <a href="https://github.com/kumarpit" class="external-link">github</a>, <a
				href="https://www.linkedin.com/in/krarpit/"
				class="external-link">linkedIn</a
			>, and <a href="https://twitter.com/kumaaarpit" class="external-link">twitter</a>, or send me
			an <a href="mailto:kumar.arpit77@yahoo.com" class="external-link">email</a>.
		</p>
		<!-- <SocialList /> -->
	</section>
	<section class="mt-10">
		<h2 class="title mb-4 text-xl">Experience</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				experiences.map(({ href, title, org, desc }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<p class="min-w-[120px] text-gray-600 dark:text-gray-400">{desc}</p>
						<p>
							{title}
							<a href={href} target="_blank" rel="noopener noreferrer" class="external-link">
								@{org}
							</a>
						</p>
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-10">
		<h2 class="title mb-4 text-xl">Featured Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				projects.map(({ title, desc, href }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<div class="min-w-[120px]">
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="external-link mb-2 inline-block sm:mb-0"
							>
								{title}
							</a>
						</div>
						<p>{desc}</p>
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Blog post list" class="mt-10">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Bookshelf" class="mt-10">
		<h2 class="title mb-4 text-xl">Bookshelf</h2>
		<div class="flex flex-row flex-wrap">
			{
				books.map((b) => (
					<div class="book">
						<img src={b.img.src} alt={b.name} />
					</div>
				))
			}
		</div>
	</section>

	<section aria-label="Coursework" class="mt-10">
		<h2 class="title mb-4 text-xl">Coursework</h2>
		<ul class="flex flex-wrap gap-2">
			{
				courses.map(({ name, title, coursePage }) => (
					<li>
						<a
							class="course-link flex items-center justify-center rounded-lg p-1 text-sm hover:underline"
							href={coursePage}
						>
							{name}
						</a>
						<p class="course-name rounded-md border border-zinc-400 bg-bgColor">{title}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
