---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { getAllPosts, sortMDByDate } from "@/utils";

import bookImg from "@/assets/books/fp-in-scala-manning.png";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const experiences: Array<{ title: string; desc: string; org: string; href: string }> = [
	{
		title: "Software Engineering Intern",
		org: "SAP Concur",
		desc: "Winter 2025",
		href: "https://www.concur.ca",
	},
	{
		title: "Undergraduate Teaching Assistant",
		org: "CPSC311",
		desc: "Fall 2024",
		href: "https://www.students.cs.ubc.ca/~cs-311/current/syllabus.html",
	},
	{
		title: "Site Reliability Engineering Intern",
		org: "Visier",
		desc: "Winter 2024",
		href: "https://www.visier.com",
	},
	{
		title: "Software Engineering Intern",
		org: "Vidyard",
		desc: "Winter 2023",
		href: "https://www.vidyard.com",
	},
];

const designTeams: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Bionics",
		desc: "Writing on-board software for a robotic prosthetic arm",
		href: "https://github.com/kumarpit/basis",
	},
	{
		title: "Launchpad",
		desc: 'Built a personal finance management app called "Ledge-it"',
		href: "https://github.com/kumarpit/basis",
	},
];

const books: Array<{ name: string; author: string; img: ImageMetadata }> = [
	{
		name: "Functional Programming in Scala",
		author: "Chiusano and Bjarnason",
		img: bookImg,
	},
	{
		name: "Think",
		author: "Simon Blackburn",
		img: bookImg,
	},
];

const courses: Array<{ name: string; title: string; coursePage: string }> = [
	{
		name: "CPSC110",
		title: "Computation, Programs, and Programming",
		coursePage: "#",
	},
	{
		name: "ECON101",
		title: "Microeconomics",
		coursePage: "#",
	},
	{
		name: "EOSC114",
		title: "The Catastrophic Earth: Natural Disasters",
		coursePage: "#",
	},
	{
		name: "MATH100",
		title: "Calculus I",
		coursePage: "#",
	},
	{
		name: "WRDS150A",
		title: "Writing and Research in the Disciplines",
		coursePage: "#",
	},
	{
		name: "CPSC121",
		title: "Models of Computation",
		coursePage: "#",
	},
	{
		name: "ECON102",
		title: "Macroeconomics",
		coursePage: "#",
	},
	{
		name: "MATH101",
		title: "Calculus II",
		coursePage: "#",
	},
	{
		name: "VISA110",
		title: "Foundation Studio: Digital Media",
		coursePage: "#",
	},
	{
		name: "PSYC101",
		title: "Introduction to Biological and Cognitive Psychology",
		coursePage: "#",
	},
	{
		name: "CPSC221",
		title: "Introductory Data Structures and Algorithms",
		coursePage: "#",
	},
	{
		name: "MATH221",
		title: "Linear Algebra",
		coursePage: "#",
	},
	{
		name: "CPSC213",
		title: "Introduction to Computer Systems",
		coursePage: "#",
	},
	{
		name: "STAT200",
		title: "Elementary Statistics for Applications",
		coursePage: "#",
	},
	{
		name: "PHIL220A",
		title: "Symbolic Logic",
		coursePage: "#",
	},
	{
		name: "LING100",
		title: "Introduction to Language and Linguistics",
		coursePage: "#",
	},
	{
		name: "CPSC210",
		title: "Software Construction",
		coursePage: "#",
	},
	{
		name: "MATH200",
		title: "Calculus III",
		coursePage: "#",
	},
	{
		name: "MATH220",
		title: "Mathematical Proof",
		coursePage: "#",
	},
	{
		name: "MATH215",
		title: "Elementary Differential Equations I",
		coursePage: "#",
	},
	{
		name: "CPSC314",
		title: "Computer Graphics",
		coursePage: "#",
	},
	{
		name: "CPSC313",
		title: "Computer Hardware and Operating Systems",
		coursePage: "#",
	},
	{
		name: "MATH340",
		title: "Linear Programming",
		coursePage: "#",
	},
	{
		name: "MATH307",
		title: "Applied Linear Algebra",
		coursePage: "#",
	},
	{
		name: "MATH302",
		title: "Introduction to Probability",
		coursePage: "#",
	},
	{
		name: "CPSC310",
		title: "Introduction to Software Engineering",
		coursePage: "#",
	},
	{
		name: "CSPC311",
		title: "Definition of Programming Languages",
		coursePage: "#",
	},
	{
		name: "CPSC317",
		title: "Computer Networking",
		coursePage: "#",
	},
	{
		name: "CSPC320",
		title: "Intermediate Algorithm Design and Analysis",
		coursePage: "#",
	},
	{
		name: "MATH342",
		title: "Algebra and Coding Theory",
		coursePage: "#",
	},
	{
		name: "MATH319",
		title: "Real Analysis",
		coursePage: "#",
	},
	{
		name: "MATH316",
		title: "Elementary Differential Equations II",
		coursePage: "#",
	},
	{
		name: "MATH317*",
		title: "Calculus IV",
		coursePage: "#",
	},
	{
		name: "CPSC436A*",
		title: "OS Design and Implementation",
		coursePage: "#",
	},
	{
		name: "CPSC427*",
		title: "Video Game Programming",
		coursePage: "#",
	},
	{
		name: "CPSC418*",
		title: "Parallel Computation",
		coursePage: "#",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section id="first">
		<!-- <div class="h-30 mb-5 overflow-hidden">
<ul class="animate-text-slide">
<li><h1 class="title mb-7 text-4xl">नमस्ते</h1></li>
<li><h1 class="title mb-7 text-4xl">Hello</h1></li>
</ul>
</div> -->

		<h1 class="title mb-7 mt-5 text-4xl">नमस्ते</h1>

		<p class="mb-4">
			My name's Arpit. I am a computer science and mathematics student at the <a
				href="https://www.ubc.ca/"
				class="external-link">University of British Columbia</a
			>. Here I write about my explorations in topics that interest me - mainly system design
			principles, language-oriented programming and art. A lot on this site is still under
			construction.
		</p>
		<p class="mb-4">
			Find me on <a href="https://github.com/kumarpit" class="external-link">github</a>, <a
				href="https://www.linkedin.com/in/krarpit/"
				class="external-link">linkedIn</a
			>, and <a href="https://twitter.com/kumaaarpit" class="external-link">twitter</a>, or send me
			an <a href="mailto:kumar.arpit77@yahoo.com" class="external-link">email</a>.
		</p>
		<!-- <SocialList /> -->
	</section>
	<section class="mt-10">
		<h2 class="title mb-4 text-xl">Experience</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				experiences.map(({ href, title, org, desc }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<p class="min-w-[120px] text-gray-600 dark:text-gray-400">{desc}</p>
						<p>
							{title}
							<a href={href} target="_blank" rel="noopener noreferrer" class="external-link">
								@{org}
							</a>
						</p>
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-10">
		<h2 class="title mb-4 text-xl">Engineering Design Teams @UBC</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				designTeams.map(({ title, desc, href }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<div class="min-w-[120px]">
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="external-link mb-2 inline-block sm:mb-0"
							>
								{title}
							</a>
						</div>
						<p>{desc}</p>
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Blog post list" class="mt-10">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Bookshelf" class="mt-10">
		<h2 class="title mb-4 text-xl">What I'm reading</h2>
		<div class="space-y-4 sm:space-y-2">
			{
				books.map(({ name, author }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<p>
							{name}
							{/* <a href={href} target="_blank" rel="noopener noreferrer" class="external-link">
            @{org}
            </a> */}
						</p>
						<p class="min-w-[120px] text-gray-600 dark:text-gray-400">by {author}</p>
					</li>
				))
			}
		</div>
	</section>

	<section aria-label="Coursework" class="mt-10">
		<h2 class="title mb-4 text-xl">Coursework</h2>
		<ul class="flex flex-wrap gap-2">
			{
				courses.map(({ name, title, coursePage }) => (
					<li>
						<a
							class="course-link flex items-center justify-center rounded-lg p-1 text-sm hover:underline"
							href={coursePage}
						>
							{name}
						</a>
						<p class="course-name rounded-md border border-zinc-400 bg-bgColor">{title}</p>
					</li>
				))
			}
		</ul>
		<br />
		<p>*currently taking</p>
	</section>
</PageLayout>
