---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

import bookImg from "@/assets/books/fp-in-scala-manning.png";
import bookImg2 from "@/assets/books/snow-crash-stephenson.jpg";
import bookImg3 from "@/assets/books/plai-krishnamurthi.jpeg";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const experiences: Array<{ title: string; desc: string; org: string; href: string }> = [
	{
		title: "Site Reliability Engineering Intern",
		org: "Visier",
		desc: "Winter 2024",
		href: "https://astro.build",
	},
	{
		title: "Software Engineering Intern",
		org: "Vidyard",
		desc: "Winter 2023",
		href: "https://docs.astro.build/en/guides/assets/",
	},
];

const projects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Backtrack",
		desc: "A generalized search library for node.js",
		href: "https://github.com/kumarpit/backtrack",
	},
	{
		title: "Star-Crossed",
		desc: "A 2D top-down bullet hell (and dating sim?) in Unity",
		href: "https://github.com/studi6/star-crossed",
	},
	{
		title: "Basis",
		desc: "A linear algebra library for C",
		href: "https://github.com/kumarpit/basis",
	},
];

const books: Array<{ name: string; author: string; img: ImageMetadata }> = [
	{
		name: "Functional Programming in Scala",
		author: "Manning",
		img: bookImg,
	},
	{
		name: "Snow Crash",
		author: "Neal Stephenson",
		img: bookImg2,
	},
	{
		name: "Programming Languages: Application and Interpretation",
		author: "Shriram Krishnamurthi",
		img: bookImg3,
	},
];

const courses: Array<{ name: string; coursePage: string }> = [
	{
		name: "CPSC110",
		coursePage: "#",
	},
	{
		name: "ECON101",
		coursePage: "#",
	},
	{
		name: "EOSC114",
		coursePage: "#",
	},
	{
		name: "MATH100",
		coursePage: "#",
	},
	{
		name: "WRDS150A",
		coursePage: "#",
	},
	{
		name: "CPSC121",
		coursePage: "#",
	},
	{
		name: "ECON102",
		coursePage: "#",
	},
	{
		name: "MATH101",
		coursePage: "#",
	},
	{
		name: "VISA110",
		coursePage: "#",
	},
	{
		name: "PSYC101",
		coursePage: "#",
	},
	{
		name: "CPSC221",
		coursePage: "#",
	},
	{
		name: "MATH221",
		coursePage: "#",
	},
	{
		name: "CPSC213",
		coursePage: "#",
	},
	{
		name: "STAT200",
		coursePage: "#",
	},
	{
		name: "PHIL220A",
		coursePage: "#",
	},
	{
		name: "LING100",
		coursePage: "#",
	},
	{
		name: "CPSC210",
		coursePage: "#",
	},
	{
		name: "MATH200",
		coursePage: "#",
	},
	{
		name: "MATH220",
		coursePage: "#",
	},
	{
		name: "MATH215",
		coursePage: "#",
	},
	{
		name: "CPSC314",
		coursePage: "#",
	},
	{
		name: "CPSC313",
		coursePage: "#",
	},
	{
		name: "MATH340",
		coursePage: "#",
	},
	{
		name: "MATH307",
		coursePage: "#",
	},
	{
		name: "MATH302",
		coursePage: "#",
	},
	{
		name: "CPSC310",
		coursePage: "#",
	},
	{
		name: "CSPC311",
		coursePage: "#",
	},
	{
		name: "CPSC317",
		coursePage: "#",
	},
	{
		name: "CSPC320",
		coursePage: "#",
	},
	{
		name: "MATH342",
		coursePage: "#",
	},
	{
		name: "MATH319",
		coursePage: "#",
	},
	{
		name: "MATH317",
		coursePage: "#",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hey! I'm Arpit.</h1>
		<p class="mb-4">
			I am a computer science and mathematics student at the University of British Columbia. Here I
			write about my explorations in topics that interest me - usually pertaining to computer
			science and mathematics. A lot on this site is still under construction.
			<br />
			<br />
			 I'm interested in learning about system design, language-oriented programming and graphics.
			In my free time, I'm exploring game development in Unity at <a
				href="https://www.ubcgamedev.com"
				class="cactus-link">UBC GameDev</a
			> and contributing to
			<a href="https://ubcbionics.com" class="cactus-link">UBC Bionics</a> as an embedded software
			developer.
		</p>
		<SocialList />
	</section>
	<section class="mt-10">
		<h2 class="title mb-4 text-xl">Experience</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				experiences.map(({ href, title, org, desc }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<p class="min-w-[120px] text-gray-600 dark:text-gray-400">{desc}</p>
						<p>
							{title}
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link inline-block"
							>
								@{org}
							</a>
						</p>
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-10">
		<h2 class="title mb-4 text-xl">Featured Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				projects.map(({ title, desc, href }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<div class="min-w-[120px]">
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link mb-2 inline-block sm:mb-0"
							>
								{title}
							</a>
						</div>
						<p>{desc}</p>
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Blog post list" class="mt-10">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Bookshelf" class="mt-10">
		<h2 class="title mb-4 text-xl">Bookshelf</h2>
		<div class="flex flex-row gap-10" style="height: 10vw;">
			{books.map((b) => <img src={b.img.src} alt={b.name} height="auto" width="auto" />)}
		</div>
	</section>

	<section aria-label="Coursework" class="mt-10">
		<h2 class="title mb-4 text-xl">Coursework</h2>
		<ul class="flex flex-wrap gap-2 text-accent">
			{
				courses.map(({ name, coursePage }) => (
					<li>
						<a class="flex items-center justify-center rounded-lg p-1" href={coursePage}>
							{name}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
